<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Your request to reset your password</title>
</head>
<body>
<p>Hello {{ firstname }} {{ lastname }},
<p>We have received a request to reset your password at {{ servername }}.</p>
<ol>
    <li>Use this link <a href="{{ servername }}/reset?token={{ token }}">http://{{ servername }}/reset?token={{ token }}</a>
        <br>OR<br>
        Visit {{ servername }}/reset and enter this token<blockquote><pre>{{ token }}</pre></blockquote></li>
</ol>
<p>If this request was made in error, simply ignore this email. This token will expire in 1 week.</p>
</body>
</html>